/* list.css */

.appointment-list ul.history-list { /* added .history-list class */
  list-style: none;
  padding: 0;
}

.appointment-list li {
  border: 1px solid #e0e0e0;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.appointment-details {
  display: flex;
  flex-direction: column;
}

/* Report Generator container styles */
.report-generator-container {
  border: 1px solid #ccc; /* Add a border */
  padding: 15px;
  margin-bottom: 20px; /* Add spacing */
  border-radius: 5px;
  background-color: #f0f0f0;
}

/* Dark mode styles */
.dark-mode .appointment-list li {
  color: white;
  background-color: #333;
  border-color: #555;
}

.dark-mode .appointment-list {
    color: white;
}

.dark-mode .report-generator-container {
    background-color: #444;
    border-color: #666;
}